/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-main {
  max-width: 1400px;
  margin: 0 auto;
}

.col {
  float: left;
}

.w70 {
  width: 70%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.right-side {
  text-align: right;
}

.btn {
  text-decoration: none;
  display: inline;
}

.btn-blue {
  background-color: #2c61ff;
  color: white;
  display: inline;
}

.btn-small {
  padding: 7px 25px;
}

.btn-large {
  padding: 10px 25px;
}

.btn:hover {
  text-decoration: underline;
}

.txt-small {
  font-size: 13px;
}

.txt-space {
  margin: 10px 0px;
}

.title-section {
  font-size: 50px;
}

.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid black 0.5px;
  border-radius: 50%;
  vertical-align: middle;
}

.blue-circle {
  border: solid #2c61ff 5px;
}

/* Header */

header {
  background-color: #b4d0e7;
  height: 900px;
}

.main-nav {
  background-color: #fff;
  height: 70px;
  width: 100%;
  line-height: 70px;
}

.main-nav .col #nav-logo {
  display: inline;
  vertical-align: middle;
  margin: 0px 15px;
}

.main-nav .col ul {
  display: inline;
  margin-right: 25px;
}

.main-nav .col li {
  display: inline;
}

.main-nav .col ul .nav-link {
  color: rgb(29, 25, 25);
  text-decoration: none;
  padding: 0px 15px;
  font-weight: 500;
}

.main-nav .col ul li .nav-link:hover {
  text-decoration: underline;
}

/* Jumbotron */

.jumbotron {
}

#jumbo-title {
  font-size: 95px;
  margin: 30px 0px;
}

#jumbo-left-txt {
  width: 350px;
  height: 200px;
}

#jumbo-text {
  margin-bottom: 20px;
}

#jumbo-image {
  width: 1100px;
  height: 600px;
}

.icon-space {
  margin: 50px 0;
}

/* Business section plan */

#dp-business-plan {
  margin-top: 15%;
}

#plan-selection {
  margin: 25px 0px;
}

.prova {
  background-color: red;
  height: 500px;
  width: 300px;
  margin-right: 20px;
}
