/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-main {
  max-width: 1100px;
  margin: 0 auto;
}

/* Columns */

.col {
  float: left;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w45 {
  width: 45%;
}

.w44 {
  width: 44%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w28 {
  width: 28%;
}

.w20 {
  width: 20%;
}

/* Text align */

.right-side {
  text-align: right;
}

.center-side {
  text-align: center;
}

/* Buttons */

.btn {
  text-decoration: none;
  display: inline;
}

.btn-blue {
  background-color: #2c61ff;
  color: white;
  display: inline;
}

.btn-white {
  background-color: white;
  color: black;
  border: solid 1px black;
}

.btn-white-nobor {
  background-color: white;
  color: black;
}

.btn-small {
  padding: 7px 25px;
}

.btn-large {
  padding: 10px 25px;
}

.btn-larger {
  padding: 10px 40px;
}

.btn:hover {
  text-decoration: underline;
}

/* Margin and Padding */

.marg-10tb {
  margin: 10px 0px;
}

.marg-30tb {
  margin: 30px 0px;
}

.marg-30b {
  margin-bottom: 30px;
}

.marg-50b {
  margin-bottom: 50px;
}

.padd-20-30 {
  padding: 20px 30px;
}

/* Fake Radiobox */

.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid black 0.5px;
  border-radius: 50%;
  vertical-align: middle;
}

.blue-circle {
  border: solid #2c61ff 5px;
}

.fa-check {
  color: #2c61ff;
}

/* HR styling */

.row-medium {
  border: none;
  height: 1px;
  background-color: #dcdcde;
  width: 100px;
}

.row-long {
  border: 1px solid #dcdcde;
  width: 100%;
}

.row-small {
  border: 1px solid lightgrey;
  width: 50px;
}

/* Text Attributes */

.title-section {
  font-size: 45px;
}

h5 {
  font-size: 22px;
  color: white;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 27px;
}

.txt-small {
  font-size: 13px;
}

.txt-grey {
  color: grey;
}

/* Header */

header {
  background-color: #b4d0e7;
  height: 900px;
}

.main-nav {
  background-color: #fff;
  height: 70px;
  width: 100%;
  line-height: 70px;
}

.main-nav .col #nav-logo {
  display: inline;
  vertical-align: middle;
  margin: 0px 15px;
}

.main-nav .col ul {
  display: inline;
  margin-right: 25px;
}

.main-nav .col li {
  display: inline;
}

.main-nav .col ul .nav-link {
  color: rgb(29, 25, 25);
  text-decoration: none;
  padding: 0px 15px;
  font-weight: 500;
}

.main-nav .col ul li .nav-link:hover {
  text-decoration: underline;
}

/* Jumbotron */

#jumbo-title {
  font-size: 95px;
  margin: 30px 0px;
}

#jumbo-left-txt {
  width: 350px;
  height: 200px;
}

#jumbo-text {
  margin-bottom: 20px;
}

#jumbo-image {
  width: 1100px;
  height: 600px;
}

.icon-space {
  margin: 50px 0;
}

/* Business section plan */

#dp-business-plan {
  margin-top: 15%;
  margin-bottom: 20px;
}

#plan-selection {
  margin: 25px 0px;
}

.plan-box {
  border: 1px solid lightgrey;
  width: 300px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.plan-title {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0px;
  text-align: center;
}

.plan-description {
  padding: 0px 30px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.plan-box .plan-description h3 {
  font-size: 30px;
}

.plan-description span {
  display: block;
}

.plan-description ul {
  list-style-type: none;
}

.plan-description ul li {
  list-style-type: none;
  margin: 20px 0px;
}

.plan-box .plan-description h4 {
  font-size: 17px;
}
/* Entreprise box */

#entreprise-box {
  width: 1025px;
  border: solid 1px lightgrey;
  margin-bottom: 7%;
}

#entreprise-box .btn {
  margin-left: 30%;
}

#entreprise-box .w40 {
  margin-top: 20px;
}

/* Partner find Section */

.partnerfind {
  margin-bottom: 7%;
}

.partnerfind .col {
  margin-right: 30px;
}

#partner-img {
  width: 500px;
  height: 420px;
}

.partnerfind .w45 {
  padding-left: 50px;
  padding-top: 30px;
}

/* Features section */

.feature-img {
  width: 350px;
}

.features .col {
  margin-right: 35px;
  margin-bottom: 50px;
}

.features-text {
  padding-right: 10px;
}

/* Team section */

.team-title {
  margin-top: 10%;
}

.team-img-size {
  width: 120px;
  filter: url(.team-img-size) invert(100%);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.box-team {
  width: 256px;
  height: 256px;
  display: inline-block;
  position: relative;
}

.team .col.w44 {
  padding: 55px 40px;
}

.img-highlight {
  width: 160px;
  display: inline;
}

.team .col.w44 {
  background-color: #f5f5f5;
  height: 512px;
}

.box-green {
  background-color: #a2d39b;
}

.box-dred {
  background-color: #61082b;
}

.box-blue {
  background-color: #1f93ce;
}

.box-lred {
  background-color: #fd1d1c;
}

.box-red {
  background-color: #d5001f;
}

.box-celeste {
  background-color: #b4d0e7;
}

.box-navy {
  background-color: #112481;
}

.box-yellow {
  background-color: #fcd831;
}

/* Trial section */

.trial {
  background-color: #b4d0e7;
  margin-bottom: 7%;
}

.trial .container-main {
  padding: 100px 0px;
}

.trial .title-section {
  color: #61082b;
}

/* FAQ Section*/

.faq {
  margin-bottom: 5%;
}

.question {
  font-weight: 700;
  position: relative;
}

.fa-chevron-down {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 30px;
}

/* Footer */

footer {
  background-color: #000000;
  padding-top: 6%;
  padding-bottom: 2%;
}

footer .container.clearfix .col.w20 ul li {
  list-style-type: none;
  margin: 10px 0px;
}

footer .container ul li a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

footer .container .col ul li a:hover {
  text-decoration: underline;
}

footer .container .col.w20 {
  margin-bottom: 80px;
}

.change-language {
  color: grey;
}
